<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/main.css') }}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
</head>
<body>

{% set navigation_bar = [
    ('/products', 'products', 'Products'),
    ('/categories', 'categories', 'Categories'),
    ('/filter', 'filter', 'Filter'),
] -%}

{% set active_page = active_page|default('index') -%}

<div class="topnav">
    {% for href, id, caption in navigation_bar %}
    <a {% if id == active_page %} class="active"{% endif %} href="{{ href|e }}" >{{ caption|e }}</a>
    {% endfor %}
</div>

{% block content %}{% endblock %}

</body>
</html>